/*Huvudstidan*/
body {
	background-color: #EBEDEF   
}


img {
	max-height: 300px;
	width: 100%;
}
.sectionmargin {
margin-top: 50px;
margin-bottom: 50px;
	}

.kolumnmargin {
	margin-top: 20px;
	margin-bottom: 20px;
}
.videosection{
	background-color: #FADBD8;
		padding: 30px;
}
.skugga{
	box-shadow: 10px 10px 15px grey;
}

/*--hoover*/
.Zoom {
  
  transition: transform .2s; /* Animation */
  width: 400px;
  height: 300px;
  margin: 0 auto;
}

.Zoom:hover {
  transform: scale(1.5); 
}

.sidfot{
	background-color: white;
padding:30px;
margin-top: 100px;
}

/*contact form*/

{box-sizing: border-box;}


.open-button {
  background-color: #AAB7B8;
  color: white;
  padding: 12px 10px;

  border: none;
  cursor: pointer;
  opacity: 0.8;
 
  bottom: 10px;
  right: 90px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

/* Adds styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=message] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=message]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #52BE80;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #E74C3C;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}